<h3>User's information Page</h3>
<br/>

User's Name: <%= @user.name.capitalize %>
<br/>
Account created on: <%= @user.created_at %>
<br/>
<br/>


Placeholder for the user's last 10 posts:
<ul>
  <li>
    1)
  </li>
</ul>


Placeholder for the user's last 10 comments:
<ul>
  <li>
    1)
  </li>
</ul>

Placeholder for the user's last 10 votes:
<ul>
  <li>
    1)
  </li>
</ul>