<h1>Listing posts</h1>

<ul>
  <% @posts.each do |post| %>
      <li>
        <%= link_to post.title, post.url %>
        <br/>
        <%= link_to pluralize(post.comments.count, "comment"), post_path(post) %>
      </li>
  <% end %>
</ul>

<br/>
<p>
  This is another test section of posting our posts<br/>
</p>


