<h3>This is the Show Comment Page</h3>

<p>
  <%= link_to @post.title, @post.url %>
  <%= "(#{pluralize(@post.comments.count, 'comment' )})"  %>
  </li>
</p>

<ul>
  <% @post.comments.each do |comment| %>
      <li>
        <%= comment.body %>
      </li>
  <% end %>
</ul>